.popover-menu-container,
.float-menu-container {
  visibility: visible;
  position: absolute;

  border: 1px solid#dee0e3;
  border-radius: 4px;

  background: #fff;
  padding: 2px 6px;
}

.float-menu-container.hidden-menu,
.popover-menu-container.hidden-menu {
  visibility: hidden;
}
