.popover-menu-container {
  visibility: visible;
  position: absolute;

  border: 1px solid#dee0e3;
  border-radius: 4px;

  background: #fff;
  margin: 4px;
  padding: 2px 6px;
}

.popover-menu-container.hidden {
  visibility: hidden;
}
